doctype html
html
  head
    title Ravi's Raga
    
    block style 
  body
    nav#navbar 
        ul 
            div#logo
                img(src="../static/logo.png", alt="log")
            li: a(href='/') Home
            li: a(href='/') Class 
            li: a(href='/') TimeTable
            li: a(href='/contact') Contact us 
    block content

    block footer 

      